{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}

	<style>
		#bg-img {
			background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/img/homepage.jpg');
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			height: 90vh;
		}

		.img-trick {
			width: 100%;
			height: 150px;
		}
	</style>

	<div class="container-fluid d-flex align-items-center justify-content-center flex-column" id="bg-img">
		<div class="container p-5 d-flex align-items-center justify-content-center">
			<section class="p-5 d-flex align-items-center justify-content-center">
				<div class="p-5 d-flex align-items-center justify-content-center flex-column">
					<h1 class="text-light">Snowtricks</h1>
					<p class="text-light">Un espace de discussion pour tout les passionés de snowboard !</p>
				</div>
			</section>
		</div>
		<div class="d-flex align-items-center justify-content-end w-100">
			<a href="#tricksContainer">
				<img src="/assets/img/arrow-down-square-fill.svg">
			</a>
		</div>
	</div>

	<div class="container-fluid">
		<div class="container">
			<div class="row d-flex align-items-center justify-content-center" id="tricksContainer">
				{% for trick in tricks %}
					<div class="col-s-12 col-m-6 col-lg-4 trick">
						<div class="card bg-light shadow m-5">

							{% set mainImage = null %}
							{% for image in trick.images %}
								{% if image.isMain %}
									{% set mainImage = image %}
								{% endif %}
							{% endfor %}

							{% if mainImage %}
								<img src="/uploads/{{ mainImage.name }}" class="card-img-top img-trick" alt="...">
							{% else %}
								<img src="/assets/img/default.jpg" class="card-img-top img-trick" alt="...">
							{% endif %}

							<div class="card-body">
								<h5 class="card-title">
									<div class="d-flex justify-content-between align-items-center">
										<a class="btn btn-primary" href="{{ path('app_trick', {slug: trick.slug}) }}">{{
                                    trick.name }}</a>

										{% if app.user %}
											<div>
												<a class="btn btn-light" href="{{ path('app_edit_trick', {slug: trick.slug}) }}">
													<i class="bi bi-pencil-fill"></i>
												</a>
												<button type="button" class="btn btn-light" data-bs-toggle="modal" data-bs-target="#exampleModal{{ trick.id }}">
													<i class="bi bi-trash-fill"></i>
												</button>
											</div>
											<div class="modal fade" id="exampleModal{{ trick.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
												<div class="modal-dialog">
													<div class="modal-content">
														<div class="modal-header">
															<h5 class="modal-title" id="exampleModalLabel">Delete "{{ trick.name }}"
															</h5>
															<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
														</div>
														<div class="modal-body">
															Are you sure you want to delete "{{ trick.name }}" ?
														</div>
														<div class="modal-footer">
															<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
															<form method="post" action="{{path('app_delete_trick', {'slug': trick.slug}) }}">
																<input type="hidden" name="_method" value="DELETE">
																<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.slug) }}">
																<button class="btn btn-danger">Delete</button>
															</form>
														</div>
													</div>
												</div>
											</div>
										{% endif %}
									</div>
								</h5>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>

			<div class="w-100 d-flex align-items-center justify-content-center">
				<div id="loadingSpinner" class="spinner-border text-primary" role="status">
					<span class="visually-hidden">Loading...</span>
				</div>
			</div>


			<div class="text-center mt-4">
				<button id="loadMoreButton" class="btn btn-primary">Load More</button>
			</div>
			<div class="d-flex align-items-center justify-content-end w-100">
				<a href="#tricksContainer">
					<img src="/assets/img/arrow-up-square-fill.svg">
				</a>
			</div>
		</div>


	</div>

<script>
    let tricks = document.querySelectorAll('.trick');
    let offset = tricks.length;
    document.getElementById('loadingSpinner').style.display = 'none';


    function loadMoreTricks() { // Show the loading spinner
        document.getElementById('loadingSpinner').style.display = 'block';
		tricks = document.querySelectorAll('.trick');
		offset = tricks.length;
        fetch(`/get-more-tricks/${offset}`).then(response => response.text()).then(data => {
            if (data.length > 0) {
                const tricksContainer = document.getElementById('tricksContainer');
                tricksContainer.innerHTML += data;
            } else { // Disable the "Load More" button if no more tricks are available
                document.getElementById('loadMoreButton').disabled = true;
            }

            // Hide the loading spinner once the tricks are added
            document.getElementById('loadingSpinner').style.display = 'none';
        }).catch(error => {
            console.error('Error fetching more tricks:', error);

            // Hide the loading spinner in case of an error
            document.getElementById('loadingSpinner').style.display = 'none';
        });
    }

    document.getElementById('loadMoreButton').addEventListener('click', loadMoreTricks);
</script>
{% endblock %}
