{% extends 'base.html.twig' %}

{% block title %}Trick
{% endblock %}

{% block body %}

	<style>

		#bg-img {
			background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url({{ trick.images.first.path }});
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			height: 600px;
		}

		hr {
			height: 2px;
			width: 100%;
			border-width: 0;
			color: white;
			background-color: white;
		}

		.user-img {
			width: 50px;
			height: 50px;
			border-radius: 50px;
		}
	</style>

	<div class="container-fluid d-flex align-items-center justify-content-center flex-column" id="bg-img">
		<div class="container p-5 d-flex align-items-center justify-content-center">
			<section class="p-5 d-flex align-items-center justify-content-center">
				<div class="p-5 d-flex align-items-center justify-content-center flex-column">
					<h1 class="text-light">{{ trick.name }}</h1>
				</div>
			</section>
		</div>
	</div>
	<div class="container-fluid p-5">
		<div class="container">
			<div class="row">

				<div class="col">
					<div id="carouselExampleImages" class="carousel slide" data-bs-ride="carousel">
						<div class="carousel-indicators">
							{% for loopIndex, image in trick.images %}
								<button type="button" data-bs-target="#carouselExampleImages" data-bs-slide-to="{{ loopIndex }}" {% if loop.first %} class="active" aria-current="true" {% endif %} aria-label="Slide {{ loopIndex + 1 }}"></button>
							{% endfor %}
						</div>
						<div class="carousel-inner">
							{% for loopIndex, image in trick.images %}
								<div class="carousel-item {% if loop.first %}active{% endif %}">
									<img class="d-block w-100" height="400px" src="{{ image.path }}" alt="Slide">
								</div>
							{% endfor %}
						</div>
						<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleImages" data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleImages" data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Next</span>
						</button>
					</div>
				</div>

				<div class="col">
					<div id="carouselExampleVideos" class="carousel slide" data-bs-ride="carousel">
						<div class="carousel-indicators">
							{% for loopIndex, video in trick.videos %}
								<button type="button" data-bs-target="#carouselExampleVideos" data-bs-slide-to="{{ loopIndex }}" {% if loop.first %} class="active" aria-current="true" {% endif %} aria-label="Slide {{ loopIndex + 1 }}"></button>
							{% endfor %}
						</div>
						<div class="carousel-inner">
							{% for loopIndex, video in trick.videos %}
								<div class="carousel-item {% if loop.first %}active{% endif %}">
									<iframe width="100%" height="400px" src="{{ video.link }}"></iframe>
								</div>
							{% endfor %}
						</div>
						<button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleVideos" data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						</button>
						<button class="carousel-control-next" type="button" data-bs-target="#carouselExampleVideos" data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Next</span>
						</button>
					</div>
				</div>


			</div>
			<p class="text-light py-5">{{ trick.description }}</p>

			<div class="d-flex align-items-center justify-content-center">
				<span class="badge bg-light text-dark m-2">Créé le :
					{{ trick.createdAt|date('Y-m-d') }}</span>
				<span class="badge bg-light text-dark m-2">Modifié le :
					{{ trick.updatedAt|date('Y-m-d') }}</span>
				<span class="badge bg-light text-dark m-2">Catégorie :
					{{ trick.category.name }}</span>
			</div>


			<hr>
			{% if app.user %}
			<form method="POST" action="#" class="d-flex justify-content-center align-items-center w-100 flex-column gap-2">
				<textarea class="form-control"></textarea>
				<button class="btn btn-light">Soumettre le commentaire</button>
			</form>
			{% else %}
				<p class="text-light d-flex justify-content-center align-items-center w-100">Veuillez vous connecter <a class="ms-2" href="/login">ici</a></p>
			{% endif %}
			<hr>

			<div id="commentsContainer">
				{% for loopIndex, comment in trick.comments %}
					<div class="col {% if loopIndex >= 4 %}d-none{% endif %}">
						<div class="d-flex align-items-center justify-content-start">
							<div>
								<img class="user-img" src="{{ comment.user.image }}">
							</div>
							<div class="m-3 p-3 border border-secondary w-100 rounded">
								<small class="text-light">
									<strong>{{ comment.user.username }}</strong>
									|
									{{ comment.createdAt|date('Y-m-d') }}</small>
								<p class="text-light">{{ comment.content }}</p>
							</div>
						</div>
					</div>
				{% endfor %}

				<div class="text-center mt-4">
					<button id="loadMoreButton" class="btn btn-light">Load More</button>
				</div>
			</div>
		</div>
	</div>


	<script>
		var loadMoreButton = document.getElementById("loadMoreButton");
		var commentsContainer = document.getElementById("commentsContainer");
		var hiddenComments = Array.from(commentsContainer.getElementsByClassName("d-none"));

		
		if(hiddenComments.length === 0) {
			loadMoreButton.style.display = 'none';
			return;
		}
				
		loadMoreButton.addEventListener("click", function () {
			showNextBatch();
		});

		function showNextBatch() {
			var batchSize = 4;
			for (var i = 0; i < batchSize; i++) {
				if (hiddenComments.length === 0) {
					loadMoreButton.style.display = 'none';
					return;
				}
				hiddenComments.shift().classList.remove("d-none");
			}
		}		
	</script>
{% endblock %}
